@import url('https://fonts.googleapis.com/css?family=Average+Sans&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body{
  background-color: #18a611;
  height:90vh;
  width:100vw;
  text-align: center;
  font-family: 'Average Sans', sans-serif;
  margin:0;

}
h1{
  margin-top:10px;
}
.project, .project-title{
  color:black;
  text-decoration:none;
  text-align:center;
  font-size:1.3em;
}
.project-image{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
}
#profile-link{
  text-decoration:none;
  color:black;
  background-color:#18a611;
  padding:10px;
  margin-bottom: 50px;

}
#profile-link:hover{
  background-color:white;
    }
.table{
  display:table;
  margin: auto;
  margin-top:25vh;
}
 .projects-grid{
  border:1px solid black;
  background-color: yellow;
  display:table-cell;
  width:15vw;
  height:25vh;

}
@media screen and (min-width: 700px){
  .project-image{
    display:flex;
    height:30vh;
    align-items:center;
    justify-content:center;

    width:25vw;
  }
}
.project-image{
  display:flex;
  height:20vh;
  align-items:center;
  justify-content:center;

  width:15vw;
}
.github{
  text-decoration: none;
}
.project-title:hover{
  color:white;
}
#float-bar{
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left:0;
  width:100vw;
}
#float-bar:hover{
  color:white;
}
.bar{
  text-decoration: none;
  color:black;
  
}
ul{
  display:flex;
  text-decoration: none;
  margin-right:35px;
}
li{
  font-size: 2em;
  padding: 10px;
  list-style: none;
}
.bar:hover{
  color:white;
}
#email{

  margin-bottom: 50px;
}
#first{
  margin-top: 100px;
  font-size: 1.5em;
}

#container{
  background-color: yellow;
  width:50vw;
  height:82vh;
  margin: auto;
  margin-top:8vh;
  display:flex;
}
#inner-container{

  margin:auto;
}
#contact{
  font-size: 3em;
}
